/*BUTTONS*/
.btn {
   padding: $spacing-small $spacing-medium;
   border-radius: $border-radius;
   font-weight: 600;
   text-align: center;
   @include button-transform;

   &.btn-primary {
      background-color: $light-primary;
      border: 1px solid darken($light-primary, 10%);

      &:hover, &:focus {
         background-color: lighten($light-primary, 5%);
         color: $light-text;
      }

      &:active {
         background-color: darken($light-primary, 5%);
         color: $light-background;
      }
   }
   
   &.btn-secondary {
      background-color: $light-secondary;
      border: 1px solid darken($light-secondary, 5%);

      &:hover, &:focus {
         background-color: lighten($light-secondary, 10%);
         color: $light-text;
      }

      &:active {
         background-color: darken($light-secondary, 5%);
         color: $light-background;
      }
   }

   &.btn-accent {
      background-color: $light-background;
      border: 2px solid $light-accent;

      &:hover, &:focus {
         background-color: $light-accent;
         color: $light-text;
      }

      &:active {
         background-color: darken($light-accent, 10%);
         color: $light-text;
         border-color: darken($light-accent, 10%);
      }
   }
}

/*PROJECT CARDS*/
.card {
   margin: $spacing-small;
   background-color: $light-background;
   border: none;
   border-radius: $border-radius-lg;
   box-shadow: $shadow-light;
   overflow: hidden;
   transition: transform $transition-duration ease-in-out, box-shadow $transition-duration ease-in-out;

   &:hover {
      transform: translateY(-5px);
      box-shadow: $shadow-dark;
   }

   .card-body {
      padding: $spacing-large;

      .card-title {
         font-size: 1.5rem;
         margin-bottom: $spacing-small;
      }

      .card-text {
         margin-bottom: $spacing-small;
      }

      .d-flex {
         flex-wrap: wrap;
         gap: $spacing-small;
      }

      .badge {
         padding: $spacing-small;
         font-size: 0.8rem;
         border-radius: $border-radius-md;
         @include badge-styles;
      }

      .view-project {
         margin-top: $spacing-large;
         display: flex;
         justify-content: flex-end;

         @include mobile {
            justify-content: center;
         }
      }
   }
}