/*HEADER*/
header {
   background-color: $light-background;
   box-shadow: $shadow-light;

   .navbar {
      padding: $spacing-medium $spacing-extra-large;

      @include mobile {
         padding: $spacing-small $spacing-medium;
      }

      .logo-container {
         display: flex;
         align-items: center;
         
         img {
            height: 40px;
         }
         
         .navbar-brand {
            font-family: $font-headings-light;
            font-weight: 600;
            font-size: 1.65rem;
            padding-left: $spacing-medium;
            color: $light-primary;
            transition: color $transition-duration ease-in-out;
            
            &:hover {
               color: darken($light-primary, 15%);
            }
         }
      }

      .navbar-toggler {
         border: none;
         box-shadow: none;
         padding: $spacing-small;
      }
      
      @include lg {
         #navbarNav {
            justify-content: flex-end;

            a {
               transition: color $transition-duration ease-in-out;
               
               &:hover {
               background-color: $light-background;
               color: $light-secondary;
               }
            }
         }
      }
      
      .navbar-nav {
         font-size: 1.1rem;
         
         .nav-link {
            padding: $spacing-small $spacing-medium;
            transition: color $transition-duration ease-in-out, background-color $transition-duration ease-in-out;
            
            &:hover {
               color: $hover-text;
               background-color: $hover-background;
            }
         }
      }
   }
}

/*FOOTER*/
footer {
   background-color: $light-background;

   .row {
      padding: $spacing-medium;
   }

   .footer-content {
      padding: $spacing-large ;
   }

   p {
      font-size: 0.9rem;
      color: $light-text;
      margin: 0;
      padding: $spacing-small 0;
      font-weight: 400;
      font-style: italic;
   }

   ul {
      padding: 0;
      margin: 0;
      list-style: none;
   }

   .logo-container {
      display: flex;
      align-items: center;
      
      img {
         height: 40px;
      }
      
      .navbar-brand {
         font-family: $font-headings-light;
         font-weight: 500;
         font-size: 1.75rem;
         color: $light-primary;
         transition: color $transition-duration ease-in-out;
         padding-left: $spacing-small;
         
         &:hover {
            color: darken($light-primary, 15%);
         }
      }
   }

   .location {
      display: flex;
      align-items: center;
      
      img {
         width: 20px;
         height: 20px;
      }
   }

   .social-icons {
      margin: 0;
      padding: 0;

      ul {
         display: flex;
         gap: $spacing-small;

         img {
            width: 40px;
            height: 40px;
            border-radius: $border-radius-md;
            @include transform-scale;
         }
      }
   }

   nav {
      padding: $spacing-small 0;

      li {
         padding: $spacing-small;
         transition: background-color $transition-duration ease-in-out;
         
         &:hover {
            background-color: $hover-background;
         }

         a {
            transition: color $transition-duration ease-in-out;

            &:hover {
               color: $hover-text;
            }
         }
      }
   }
   
   .copyright {
      text-align: center;
   }
}