/*Button transform: raised button with box shadow, border background-color and color transition*/
@mixin button-transform {
   transition: transform $transition-duration ease-in-out, box-shadow $transition-duration ease-in-out, background-color $transition-duration ease-in-out, color $transition-duration ease-in-out, border $transition-duration ease-in-out;

   &:hover, &:focus {
      transform: translateY(-2px);
      box-shadow: $shadow-dark;
   }

   &:active {
      transform: translateY(0px);
      box-shadow: $shadow-dark;
   }
}

/*Badge colors*/
@mixin badge-styles {
   &.badge-pr {
      background-color: rgba($light-primary, 0.6);
      color: $light-text;
   }

   &.badge-sc {
      background-color: rgba($light-secondary, 0.6);
      color: $light-text;
   }

   &.badge-ac {
      background-color: rgba($light-accent, 0.6);
      color: $light-text;
   }
}

/*Social Icons Transform*/
@mixin transform-scale {
   transition: transform $transition-duration ease-in-out, box-shadow $transition-duration ease-in-out;

   &:hover {
      transform: scale(1.1);
      box-shadow: $shadow-light;
   }
}

/*BREAKPOINT MIXINS*/
@mixin mobile {
   @media (min-width: 0) {
      @content;
   }
}

@mixin md {
   @media (min-width: 768px) {
      @content;
   }
}

@mixin lg {
   @media (min-width: 992px) {
      @content;
   }
}