/*LANDING PAGE (index.html)*/

/*Hero*/
#hero {
   margin: $spacing-medium auto $spacing-large;
   
   h1 {
      font-size: 2.5rem;
      font-style: italic;
   }
   
   .row {
      padding: $spacing-large;
      align-items: center;

      .d-flex {
         gap: 1rem;
         margin-top: $spacing-small;
      }

      .col-12 {
         margin-top: $spacing-large;
      }
   }
}

/*Projects*/
#projects {
   padding: $spacing-extra-large $spacing-large;
   background-color: $light-primary;

   .row {
      align-items: stretch;
   }

   .section-heading {
      text-align: center;
      color: $light-background;
      
      h2 {
         font-weight: 500;
         font-size: 2rem;
         font-style: italic;
      }
   }

   .view-all {
      margin-top: $spacing-large;
      display: flex;
      justify-content: center;
   }
}

/*About*/
#about {
   margin: $spacing-extra-large auto;

   h2 {
      font-weight: 500;
      font-size: 2rem;
      font-style: italic;
   }

   h5 {
      margin-top: $spacing-large;
   }

   ul {
      margin-top: $spacing-medium;
      list-style: none;
      padding-left: $spacing-small;

      li {
         background-image: url('https://img.icons8.com/?size=100&id=87608&format=png&color=72b25f');
         background-size: 20px 20px;
         background-repeat: no-repeat;
         background-position: left top;
         padding-left: 30px;
      }
   }

   span {
      font-weight: 600;
   }
   
   img {
      max-width: 100%;
      height: auto;
      border-radius: 90px;
   }
}

/*Call to Action*/
#cta {
   h2 {
      font-style: italic;
   }

   .row {
      background-color: rgba($light-background, 0.3);
      
      .text-container {
         padding: $spacing-medium;
      }
   }
}

/*ABOUT PAGE (about.html)*/
#aboutPage {
   text-align: center;

   h1 {
      font-size: 2rem;
   }

   h2 {
      font-weight: 500;
      font-size: 2rem;
      font-style: italic;
   }

   p {
      padding: $spacing-small $spacing-medium 0;
   }

   .hero {
      margin: $spacing-large auto $spacing-medium;
      padding: 0 $spacing-medium;
   }

   .present {
      padding: $spacing-medium $spacing-medium $spacing-large;
      background-color: $light-secondary;

      img {
         display: block;
         margin: auto;
      }
   }

   .past-future {
      margin: $spacing-large auto;

      .col-md-6 {
         padding: $spacing-large $spacing-medium;
         flex-direction: column;
      }
   }

   .values-passions {
      padding: $spacing-large $spacing-large;
      
      span {
         font-weight: 500;
      }
      
      .d-flex {
         gap: 1.5rem;
         
         img {
            @include transform-scale;
            box-shadow: $shadow-light;
         }
      }
      
      .value-item {
         flex: 1;
      }
      
      .rounded-circle {
         height: 10rem;
      }
   }

   .cta {
      margin: $spacing-small auto;
      padding: $spacing-large $spacing-medium;
      background-image: url(/dist/assets/images/cta-banner2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}

/*PORTFOLIO PAGE (portfolio.html)*/
#portfolioPage {
   h2 {
      font-weight: 500;
      font-size: 2rem;
      font-style: italic;
   }

   /*Hero*/
   .hero-portfolio {
      margin: $spacing-large auto $spacing-medium;
      
      .row {
         padding: 0 $spacing-medium;
         align-items: center;
      }

      .button-container {
         display: flex;
         gap: $spacing-medium;
      }

      .illustration {
         margin-top: $spacing-large;
         
         img {
            margin: auto;
            display: block;
         }
      }
   }

   /*Projects*/
   .portfolio-projects {
      padding: $spacing-large;
      background-color: $light-secondary;

      .heading {
         text-align: center;
      }
   }

   /*Skills & Tools*/
   .portfolio-skills {
      padding: $spacing-large $spacing-medium;
      text-align: center;

      .skill-icons {
         justify-content: center;
         gap: $spacing-medium;

         img {
            @include button-transform;
            width: 70px;
            height: 70px;
            border-radius: 10px;
            padding: $spacing-small;
         }
      }
   }

   /*Curriculum*/
   .portfolio-cv {
      padding: 0 $spacing-medium;

      .cv-heading {
         text-align: center;
      }

      .cv-container {
         border: 4px solid $light-accent;
         border-radius: 10px;
      }

      /*Skills section*/
      .cv-skills {
         padding: $spacing-large $spacing-medium;

         @include lg {
            padding: $spacing-large;
         }
      }

      .skill-category {
         margin-bottom: $spacing-medium;
         padding: $spacing-small;
      }

      .skill-list {
         display: flex;
         flex-wrap: wrap;
         gap: $spacing-small;
      }

      .badge {
         padding: $spacing-small;
         font-size: 0.8rem;
         border-radius: $border-radius-md;
         @include badge-styles;
      }

      /*Main section*/
      .cv-main {
         background-color: $light-accent;
         padding: $spacing-large $spacing-medium;

         @include lg {
            padding: $spacing-large;
         }
         
         h5, h6 {
            padding-left: $spacing-small;
         }
         
         h5 {
            font-style: italic;
         }
         
         h6 {
            color: lighten($light-text, 5%);
         }
         
         li {
            list-style: circle;
         }
      }
      
      /*Work experience timeline*/
      .timeline {
         position: relative;
         padding-left: $spacing-small;
         margin: $spacing-medium 0;
         border-left: 2px solid $light-text;

         .timeline-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: $spacing-small;
            position: relative;
            
            .timeline-dot {
               width: 12px;
               height: 12px;
               background-color: $light-background;
               border: 2px solid $light-text;
               border-radius: 50%;
               position: absolute;
               left: -15px;
               top: 5px;
            }
            
            .content {
               padding-left: $spacing-small;
            }
         }
      }
      
      strong {
         color: lighten($light-text, 5%);
      }

      .download-buttons {
         gap: $spacing-small;
         display: flex;
         margin: $spacing-large 0 $spacing-medium;

         @include mobile {
            flex-direction: column;
            margin: $spacing-large 0 0;
         }

         @include md {
            margin: $spacing-large 0 0;
         }

         @include lg {
            justify-content: space-evenly;
         }

         a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $spacing-small;
         }

         img {
            height: 1.75rem;
            width: 1.75rem;
         }
      }
   }
}

/*CONTACT PAGE (contact.html)*/
#contactPage {
   /*Call to action*/
   .contact-cta {
      margin: $spacing-large auto 0;
      padding: 0 $spacing-large;

      @include lg {
         padding: 0 $spacing-extra-large;
      }
      
      h1 {
         font-style: italic;
      }

      img {
         margin: $spacing-medium auto 0;
         padding: $spacing-medium $spacing-large 0;
         object-fit: cover;
      }
   }

   .contact-button {
      display: flex;
      margin-top: $spacing-medium;
      gap: $spacing-small;
   }

   /*Social Media Links*/
   .contact-social {
      margin: $spacing-large auto;
      padding: 0 $spacing-medium;
      text-align: center;
      
      .contact-icons {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: $spacing-small;
         
         @include lg {
            justify-content: center;
            gap: $spacing-large;
         }
      }
      
      a {
         display: flex;
         align-items: center;
         justify-content: center;

         @include mobile {
            width: 40%;
         }

         @include md {
            width: 20%;
         }
      }

      img {
         width: 70px;
         height: auto;
         border-radius: 10px;
         @include transform-scale;

         @include lg {
            width: 85px;
         }
      }
   }

   /*Contact Form*/
   .contact-form {
      background-color: $light-primary;
      padding: $spacing-large $spacing-medium;
      border-radius: 15px;
      margin: 0 $spacing-small;

      #contactForm {
         p {
            margin-top: $spacing-small;
         }
      }

      input {
         background-color: $light-background;
         color: lighten($light-text, 5%);
      }

      img {
         border: 6px dashed $light-background;
      }
   }
}