/*LANDING PAGE (index.html)*/
/*Hero*/
#hero {
   margin: $spacing-extra-large auto;
   
   h1 {
      font-size: 2rem;
   }
   
   .row {
      padding: $spacing-large;
      align-items: center;

      .d-flex {
         gap: 1rem;
         margin-top: $spacing-small;
      }

      .col-12 {
         margin-top: $spacing-large;
      }
   }
}

/*Projects*/
#projects {
   .view-all {
      margin-top: $spacing-large;
      display: flex;
      justify-content: center;
      
      a {
         color: $light-link;
         &:hover {
            color: darken($light-link, 10%);
         }
      }
   }
}

/*About*/
#about {
   margin: $spacing-extra-large auto;
   img {
      max-width: 100%;
      height: auto;
      border-radius: 90px;
   }
}

/*Call to Action*/

/*CONTACT PAGE (contact.html)*/
/*Hero*/

/*Social Media Links*/
/*Add transform-scale mixin to icons (img)*/