/* LIGHT THEME */
$light-background: #f0f4f1;
$light-text: #0b2005;
$light-primary: #72b25f;
$light-secondary: #a4a8d4;
$light-accent: #eea30f;
$light-border: #98aa92;
$light-link: #0a6c58;

/* DARK THEME*/
$dark-background: #0d0d1b;
$dark-text: #f4f6fb;
$dark-primary: #1a3e6b;
$dark-secondary: #714c8c;
$dark-accent: #fbcf00;
$dark-border: #3c4660;
$dark-link: #ffcc00;

/*STATE COLORS*/
$hover-background: lighten($light-primary, 10%);
$hover-text: darken($light-text, 10%);
$focus-background: lighten($light-secondary, 10%);
$focus-text: darken($light-text, 20%);

/* FONTS*/
$font-body: "Inter", sans-serif;
$font-headings-light: "Playfair Display", serif;
$font-headings-dark: "Oswald", sans-serif;

/* SPACING*/
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$spacing-extra-large: 64px;

/*BORDERS*/
$border-light: 1px solid $light-border;
// $border-dark: 1px solid $dark-border;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius: 20px;

/*TRANSITIONS*/ 
$transition-duration: 0.3s;

/*SHADOWS*/
$shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.3);

$theme-light: (
   background: $light-background,
   text: $light-text,
   primary: $light-primary,
   secondary: $light-secondary,
   accent: $light-accent
);

$theme-dark: (
   background: $dark-background,
   text: $dark-text,
   primary: $dark-primary,
   secondary: $dark-secondary,
   accent: $dark-accent
);